body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes';
   
}

@font-face {
    font-family: 'TT Lakes';
    src: url('assets/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('assets/TTLakes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


.header__container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 18px;


}

.read_more {
    padding-right: 7px;
}


.menu-container {
    height: 80px;
    overflow: hidden;
    flex-wrap: wrap;
    padding-left: 24px;
    gap: 20px;
}

.menu {
    position: absolute;
    list-style: none;
    display: flex;
    padding-left: 24px;
    gap: 20px;
    flex-wrap: wrap;
    white-space: nowrap;

}

.menu-item {
    padding: 10px;
    color: #7E7E82;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
}

.main__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    
}

.main-content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.image-section img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.menu-item.active {
    border: 1px solid #B8FFEC;
    border-radius: 10px;
    color: #333;
    background-color: #FFFFFF;
}

.menu-item:hover {
    color: #333;
}

.menu-item:not(.active):hover {
    color: #999;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.title__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    position: relative; 
    padding: 20px;
}

.nav-header__title {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-weight: 700;
    font-size: 27px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 20px;
}


.title_highlight {
    position:absolute;
    height: 40px;
    width: 4px;
    left: 0;
    background-color: #41F6D7;
    border-radius: 0px 10px 10px 0px;
  }

.line_divier {
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;

}

.line_divier_left {
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;

}
.header__container_logo__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.header__container__menu {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.test {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}



.header__container__repair__call {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header__logo {
    width: 98px;
    height: 52px;
}
.header__container__call{
    width: 40px;
    height: 40px;



}
.header__burger__menu {
    width: 40px;
    height: 40px;
}

.request_text {
    display: none;
}
.status_text {
    display: none;
}

.large_text {
    display: none;
}



@media screen and (min-width: 1120px) {

    .menu-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 24px;
        gap: 20px;
        flex-wrap: wrap;
    }


    .header__container {
        display: none;
    } 
    .request_text {
        display: block;
    }
    .status_text {
        display: block;
    }
    
    .test1 {
        display: flex;
        justify-content: end;
        position: absolute;
        top: 0px;
        right: 16px;
    }

    .main__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 1500px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 20px;
        text-align: justify;
        
    }

    .text_hide {
        display: none;
    }
    
    .large_text {
        display: block;
    }

    .hide_text {
        display: block;
    }
    

    
  

}
@media screen and (max-width:768px) {
    .button-container {
        display: none;
    }

    .menu-container {
        height: 60px;
        overflow: hidden;
        flex-wrap: wrap;
        padding-left: 24px;
        margin-bottom: 10px;
        gap: 20px;
    }

    .menu {
        display: flex;
        list-style: none;
        padding-left: 0;
        gap: 20px;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
        width: 100%;
    }
    .main__content {
        margin-top: 10px; /* Reduced space between menu and content */
        padding: 10px;
    }

}

@media screen and (max-width:320px) {

    .main__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 16px;
        padding-left: 16px;

    }


    .read-more-container {
        display: flex;
        align-items: center;
        margin-top: 5px;
        cursor: pointer;
    }
    
    .image-section img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        max-height: 200px; 
        margin-top: 10px;
        max-height: 200px;
    }

    .menu-container {
        height: 80px;
        overflow: hidden;
        flex-wrap: wrap;
        padding-left: 16px;
        gap: 20px;
    }

    .menu {
        display: flex;
        list-style: none;
        padding-left: 0;
        gap: 20px;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
        width: 100%;
    }


    .line_divier_left {
        display: none;
    }

    .header__container__call {
        display: none;
    }
    .header__container_chat {
        display: none;
    }
    .header__container_profile {
        display: none;
    }
    .text_hide {
        display: none;
    }
   
    .header__logo {
        width: 96px;
        height: 50px;
        padding-right: 17px;
        
    }

    .header__container {
        width: 320px;
        height: 88px;

    }

}


